@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  background-color: rgb(255, 253, 250);
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 111rem;
}

.overflowYHidden {
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 7.5rem auto;
  position: relative;
}
header nav {
  position: relative;
  height: 1.7rem;
  width: 43.1rem;
}
header nav .header__hamburger {
  display: none;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 43.1rem;
}
header nav ul a {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(94, 96, 122);
}
header nav ul a:hover {
  color: #f15d51;
}

.header__hamburger-cross {
  position: relative;
}
.header__hamburger-cross div:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  top: 40%;
}
.header__hamburger-cross div:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
  top: 40%;
}
.header__hamburger-cross div:nth-child(3) {
  display: none;
}

#mainGrid {
  display: grid;
  grid-template: "mainGrid__img mainGrid__img mainGrid__articles" 1fr "mainGrid__h1 mainGrid__readMore mainGrid__articles" 1fr "topArticles topArticles topArticles";
  gap: 3rem;
  max-height: 51.1rem;
}
#mainGrid .mainGrid__img {
  grid-area: mainGrid__img;
}
#mainGrid h1 {
  color: rgb(0, 0, 26);
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  grid-area: mainGrid__h1;
}
#mainGrid .mainGrid__readMore {
  grid-area: mainGrid__readMore;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 35rem;
}
#mainGrid .mainGrid__readMore p {
  color: rgb(94, 96, 122);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  max-width: 34rem;
}
#mainGrid .mainGrid__readMore div a {
  display: inline-block;
  background-color: #f15d51;
  color: rgb(255, 253, 250);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
  padding: 1.2rem 3.15rem;
}
#mainGrid .mainGrid__readMore div a:hover {
  background-color: rgb(0, 0, 26);
}
#mainGrid .mainGrid__news {
  grid-area: mainGrid__articles;
  min-width: 35rem;
  background-color: rgb(0, 0, 26);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#mainGrid .mainGrid__news h2 {
  color: rgb(233, 170, 82);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  min-width: 30.2rem;
  margin: 0 auto;
}
#mainGrid .mainGrid__news article {
  margin: 0 auto;
  max-width: 30.2rem;
}
#mainGrid .mainGrid__news article h3 {
  color: rgb(255, 253, 250);
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 0.8rem;
}
#mainGrid .mainGrid__news article h3:hover {
  color: rgb(233, 170, 82);
}
#mainGrid .mainGrid__news article p {
  color: rgb(197, 198, 206);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
#mainGrid .mainGrid__news hr {
  margin: 0 auto;
  min-width: 30.2rem;
  border: none;
  border-top: 1px solid rgb(94, 96, 122);
}
#mainGrid #topArticles {
  margin: 7rem 0;
  display: flex;
  gap: 3rem;
  grid-area: topArticles;
}
#mainGrid #topArticles article {
  max-height: 12.9rem;
  display: grid;
  grid-template: "topArticles__img  topArticles__number" 1fr "topArticles__img  topArticles__title" 1fr "topArticles__img  topArticles__text" 1fr;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
#mainGrid #topArticles article img {
  grid-area: topArticles__img;
  max-width: 10rem;
}
#mainGrid #topArticles article p {
  grid-area: topArticles__number;
  color: rgb(197, 198, 206);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
#mainGrid #topArticles article h3 {
  grid-area: topArticles__title;
  color: rgb(0, 0, 26);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
#mainGrid #topArticles article h3:hover {
  color: #f15d51;
}
#mainGrid #topArticles article h4 {
  grid-area: topArticles__text;
  color: rgb(94, 96, 122);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  max-width: 22.6rem;
}/*# sourceMappingURL=style.css.map */